.container__header {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.mob-menu__open-button {
  border: none;
  background-color: transparent;
  padding: 12px 8px;
  line-height: 0;
  margin-left: auto;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 100px;
  padding-right: 15px;
}

.mob-menu__open-icon {
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.mob-menu__open-icon:hover, .mob-menu__open-icon:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mob-menu__close-button {
    display: none;
  }

  .mob-menu {
    display: none;
  }
}
.mob-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: var(--main-page-background-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 1;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mob-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mob-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 10px;
  background-color: transparent;
  border: none;
  line-height: 0;
  cursor: pointer;
}

.mob-menu__close-icon {
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.mob-menu__close-icon:hover, .mob-menu__close-icon:focus {
  fill: var(--accent-color);
}

.mob-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mob-menu__link.current {
  color: var(--accent-color);
}

.mob-menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--accent-color);
}

.mob-menu__item + .mob-menu__item {
  margin-top: 32px;
}

.mob-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mob-contacts__item + .mob-contacts__item {
  margin-top: 32px;
}

.mob-contacts__tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--accent-color);
  text-decoration: none;
}
@media screen and (max-width: 479px) {
  .mob-contacts__tel {
    font-size: 32px;
  }
}

.mob-contacts__mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.mob-menu__social {
  margin-top: 64px;
}

.mob-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mob-social__item + .mob-social__item {
  margin-left: 10px;
}

.mob-social__item:not(:last-child)::after {
  content: "";
  width: 22px;
  height: 1px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-social__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}
@media screen and (max-width: 479px) {
  .mob-social__link {
    font-size: 13px;
  }
}/*# sourceMappingURL=mobile.css.map */