body {
  font-family: Roboto, sans-serif;
}

:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --main-page-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --accent-color: #2196f3;
  --second-button-color: #188ce8;
  --contact-info-color: rgba(255, 255, 255, 0.6);
  --third-button-color: #f5f4fa;
  --border-color: #eeeeee;
  --bg-icon-color: #f5f4fa;
  --soc-icon-color: #afb1b8;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --example-bg-color: rgba(33, 150, 243, 0.9);
}
