// Форма для модалки

.checkbox__icon {
  fill: transparent;
  transition: fill 250ms var(--timing-function);
}

.checkbox__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  transition: background-color 250ms var(--timing-function);
  margin-bottom: 30px;
  cursor: pointer;
}

.checkbox__link {
  font-style: inherit;
  text-decoration: underline;
  color: var(--accent-color);
}

.checkbox__text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms var(--timing-function);

  &:focus + .checkbox__text span {
    border-color: var(--accent-color);
  }
}

.checkbox__input.is-hidden {
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text span {
  background-color: var(--accent-color);
  border: none;
}

.checkbox__input:checked + .checkbox__text .checkbox__icon {
  fill: var(--primary-white-color);
}

.checkbox__button {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--second-button-color);
  }
}
