.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms var(--timing-function);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients__list {
  display: flex;
  justify-content: center;
}

.clients__stuff:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: var(--soc-icon-color);

  transition: fill 250ms var(--timing-function);
  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
