// Текст що наїзджає на картинку

.example {
  display: flex;
  flex-wrap: wrap;
}

.example__item .example__link:hover,
.example__item .example__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example img {
  display: block;
}

.example__text--show {
  position: relative;
  overflow: hidden;
}

.example__text {
  position: absolute;
  top: 0;
  background-color: var(--example-bg-color);
  color: var(--primary-white-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
}

.example__link:hover .example__text {
  transform: translateY(0%);
}

// Приклади робіт

.example__item {
  flex-basis: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.example__link {
  display: block;
  text-decoration: none;
  color: var(--secondary-text-color);

  transition: box-shadow 250ms var(--timing-function);
}

.example .example__item:nth-child(3n) {
  margin-right: 0;
}

.example .example__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.example__preview {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;

  border: 1px solid var(--border-color);
  border-top: transparent;
}

.example__title {
  margin-bottom: 4px;
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.example__content {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
