body {
  background-color: var(--main-page-background-color);
  color: var(--main-text-color);
}

.header {
  border-bottom: 1px solid #ececec;

  @media screen and(min-width:768px) {
  }
}

.container__header {
  // display: flex;
  // align-items: center;

  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and(min-width:768px) {
    justify-content: flex-start;
  }
}

.nav {
  display: flex;
  align-items: center;
}
