body {
  background-color: var(--main-page-background-color);
  color: var(--main-text-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.container__header {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}
