.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 250ms var(--timing-function);
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;

  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50px;
  cursor: pointer;
}

.modal__close--icon {
  width: 100%;
  height: 100%;
  transition: fill 250ms var(--timing-function);

  &:hover {
    fill: var(--accent-color);
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;
}

.modal__input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--timing-function);
  cursor: pointer;

  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__field {
  margin-bottom: 10px;
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
  display: block;
}

.modal__comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
  outline: none;
  margin-bottom: 20px;
  cursor: pointer;

  transition: border-color 250ms var(--timing-function);

  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__field {
  position: relative;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
  .modal__input:focus + & {
    fill: var(--accent-color);
  }
}
