.nav {
  display: flex;
  align-items: center;
}

.nav__list .nav__item .nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}

.nav__list {
  display: flex;
}

.nav__link {
  color: var(--main-text-color);
  text-decoration: none;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

//  Нижнє підкреслення (синя лінія)

.nav__link.current {
  position: relative;
  & {
    color: var(--accent-color);
  }

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
